### import libraries

In [19]:

import pandas as pd
import numpy as np
from nltk.tokenize import word_tokenize
import re 
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split

#### here i had an error reading the csv file i couldnt find any solution other than encode it

In [2]:
df= pd.read_csv('spam.csv', encoding='utf-8', encoding_errors='ignore')

In [3]:
df.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [4]:
columns_to_delete = ['Unnamed: 2', 'Unnamed: 3','Unnamed: 4']
df.drop(columns_to_delete, axis=1, inplace=True)

#### as we can see our task is a supervised task y-pred is spam or ham and we have to clean the data preprocessing , feature extraction , labeling

In [5]:
df.head(10)

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...
5  spam  FreeMsg Hey there darling it's been 3 week's n...
6   ham  Even my brother is not like to speak with me. ...
7   ham  As per your request 'Melle Melle (Oru Minnamin...
8  spam  WINNER!! As a valued network customer you have...
9  spam  Had your mobile 11 months or more? U R entitle...

In [6]:
df['v1'].count()

5572

In [7]:
print(df.isnull().sum())

v1    0
v2    0
dtype: int64

#### removing un necessary characters and converting into lower case

In [8]:
def clean_txt(text):
    ## remove unnecessary characters like  using regex
    cleaned_text = re.sub(r'[^a-zA-Z\s]' , '' , text )
    ## convert text to lower case
    cleaned_text = cleaned_text.lower()
    
    return cleaned_text

df['v2']= df['v2'].apply(clean_txt)

##### tokenization

In [9]:
df['v2'] = df['v2'].apply(word_tokenize)

#### Bag of words

##### separating labels

In [10]:
x = df['v2'] ## text
y = df['v1'] ## spam or not

#### creat and fit the countvictorizer to data

In [13]:
vectorizer = CountVectorizer()
X_bow = vectorizer.fit_transform([" ".join(str(item) for item in x)])

##### converting the bow to df

In [14]:
bow=pd.DataFrame(X_bow.toarray(),columns= vectorizer.get_feature_names())

c:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [15]:
featuresdf=pd.concat([bow,y],axis=1)

In [16]:
featuresdf.to_csv("spamfeatures.csv", index= False)

#### categorize 'label' the spam and ham categories into 0 , 1

In [17]:
df['v1']=df['v1'].map({"spam":1 , "ham":0})

In [18]:
print(df['v1'])

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: v1, Length: 5572, dtype: int64

#### spliting the data into 80% training and 20% testing

In [20]:
X= df['v2']
Y=df['v1']

x_train , x_test , y_train , y_test= train_test_split(X,Y,test_size=0.2 , random_state=42)

#### Model Selection